additionalConfigurations=""
additionalIndexConfigurations=""
additionalTypeMappings=""
authenticationEnabled=B"false"
bootstrapMlockAll=B"false"
clusterName="LiferayElasticsearchCluster"
compressionEnabled=B"true"
httpCORSAllowOrigin="/https?:\\/\\/localhost(:[0-9]+)?/"
httpCORSConfigurations=""
httpCORSEnabled=B"true"
httpSSLEnabled=B"false"
indexMaxResultWindow=I"10000"
indexNamePrefix="liferay-"
indexNumberOfReplicas=""
indexNumberOfShards="1"
logExceptionsOnly=B"true"
maxConnections=I"75"
maxConnectionsPerRoute=I"75"
minimumRequiredNodeVersion="0.0.0"
networkBindHost=""
networkHost=""
networkHostAddresses=[ \
  "http://elasticsearch:9200", \
  ]
networkPublishHost=""
nodeName="LiferayElasticsearchCluster-node-1"
overrideTypeMappings=""
productionModeEnabled=B"true"
proxyHost=""
proxyPort=I"0"
proxyUserName=""
remoteClusterConnectionId="ElasticSearch8Connection"
sidecarDebug=B"false"
sidecarDebugSettings="-agentlib:jdwp\=transport\=dt_socket,address\=8001,server\=y,suspend\=y,quiet\=y"
sidecarHeartbeatInterval=L"10000"
sidecarHome="elasticsearch-sidecar"
sidecarHttpPort="9201"
sidecarJVMOptions=[ \
  "-XX:+AlwaysPreTouch", \
  "-Xms1g", \
  "-Xmx2g", \
  ]
sidecarModuleNames=[ \
  "aggregations", \
  "analysis-common", \
  "blob-cache", \
  "data-streams", \
  "dot-prefix-validation", \
  "health-shards-availability", \
  "ingest-attachment", \
  "ingest-common", \
  "ingest-user-agent", \
  "lang-expression", \
  "lang-mustache", \
  "lang-painless", \
  "mapper-extras", \
  "parent-join", \
  "percolator", \
  "rank-eval", \
  "reindex", \
  "rest-root", \
  "runtime-fields-common", \
  "transport-netty4", \
  ]
sidecarShutdownTimeout=L"60000"
trackTotalHitsLimit=I"2147483647"
transportTcpPort=""
truststorePath="/path/to/localhost.p12"
truststoreType="pkcs12"
username="elastic"
